<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- need to use / to directly access the public folder --}}
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
</head>

<body>
    {{>nav this}}
    <h1>This is the Admin portal.</h1>

    {{#each users}}
    <p>{{this.name}}</p>
    <form action="/admin/update" method="post">
        <button type="submit" name="id" value={{this._id}}>Edit</button>
    </form>

    <form action="/delete" method="post">
        <button type="submit" name="id" value={{this._id}}>Delete</button>
    </form>
    {{/each}}
</body>

</html>